/* Universal Styles */
body {
  background-color: black;
}

/* Header Styles */
header {
  background-color: black;
  display: inline-flex;
  justify-content: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  position: fixed;
}

header img {
  height: 1.5rem;
  width: auto;
  padding-right: 15px;
}

#header {
  color: white;
  font-size: 1rem;
}

/* Body Styles */

.arrival {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  color: white;
}

.sportText {
  background-color: black;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

#newA {
  font-size: 1rem;
}

#sport {
  font-size: 2.5rem;
  font-weight: bold;
}

.nav {
  background-color: red;
  color: white;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

.mainContent {
  background-color: white;
  width: 100%;
}

.apparelItems {
  display: flex;
  justify-content: space-around;
  margin-left: 100px;
}

.subImages {

}

#subContent {

}

.locationHours {

}

#locationSub {

}

.footer {

}
