/* Universal Styles */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

/* Header Styles */
header {
  background-color: black;
  display: inline-flex;
  justify-content: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  position: fixed;
  flex-wrap: nowrap;
}

header img {
  height: 2rem;
  width: auto;
  padding-right: 10px;
}

#header {
  color: white;
  font-size: 1rem;
}

/* Body Styles */

.arrival {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  color: white;
}

.sportText {
  background-color: black;
}

#newA {
  font-size: 1rem;
}

#sport {
  font-size: 3rem;
  font-weight: bold;
}

.nav {
  background-color: red;
  color: white;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
}
