/* Universal Styles */
body {
  background-color: black;
  justify-content: center;
}

/* Header Styles */
header {
  background-color: black;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

header img {
  height: 1.5rem;
  width: auto;
  padding-left: 200px;
}

#header {
  color: white;
  font-size: 1rem;
  padding-left: 10px;
}

/* Body Styles */

.arrival {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
}

.sportText {
  display: flex;
  flex-flow: row wrap;
  background-color: black;
  width: 500px;
  height: 200px;
  padding-top: 1.5rem;
  padding-left: 20px;
  margin-left: 200px;
  padding-bottom: 1.5rem;
  justify-content: flex-start;
}

#newA {
  margin-top: 30px;
  font-size: 1rem;
  height: 2rem;
}

#sport {
  font-size: 2.5rem;
  font-weight: bold;
  height: 2.55rem;
}

.nav {
  background-color: red;
  color: white;
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 2rem;
  padding-left: 200px;
  padding-right: 200px;
}

.mainContent {
  background-color: white;
  width: 100%;
}

.apparelItems {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 200px;
  padding-right: 200px;
}

.pen, .watch, .thermal{
  width: 300px;
  height: 340px;
  display: flex;
  flex-flow: row wrap;

}

.subImages {
  width: 100%;
  height: 300px;
  border: 2px solid black;
}

#subContent {
  background-color: black;
  color: white;
  width: 300px;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location, .hours {
  display: flex;
  flex-flow: row wrap;
  width: 300px;
}

.locationHours {
  display: flex;
  justify-content: space-around;
  padding-left: 200px;
  padding-right: 200px;

}

#locationSub {
  background-color: black;
  display: flex;
  color: white;
  height: 2rem;
  width: 100%;
  padding-left: 5px;
  justify-content: flex-start;
  align-items: center;
}

#hoursSub {
  height: 2rem;
  display: flex;
  align-items: center;
}

.footer {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  height: 200px;
  width: 100%;
  padding-left: 200px;
}
